<launch>
  <machine name="local" address="localhost" default="true" />

  <param name="use_sim_time" value="true"/>
  <arg name="dataset" default="" />
  <arg name="rate" default="1.0" />

  <node name="tinySLAM" pkg="tiny_slam" type="tiny_slam"
        cwd="node" required="true" output="screen">
    <remap from="laser_scan" to="/base_scan" />

    <!-- Modules setup -->
    <param name="cell_type" value="avg" />
    <param name="occupancy_estimator" value="const" />
    <param name="skip_exceeding_lsr_vals" value="false" />

    <!-- Frame_names setup -->
    <param name="odom" value="odom_combined" />
    <param name="robot_pose" value="robot_pose" />

    <!-- Map setup-->
    <param name="map_height_in_meters" value="50" />
    <param name="map_width_in_meters" value="50" />
    <param name="map_meters_per_cell" value="0.1" />

    <!-- Internal constants setup -->
    <param name="base_occupied_prob" value="0.95" />
    <param name="base_empty_prob" value="0.01" />
    <param name="hole_width" value="1.5" />

    <!-- Internal scan matcher constants-->
    <param name="scmtch_sigma_XY_MonteCarlo" value="0.2" />
    <param name="scmtch_sigma_theta_MonteCarlo" value="0.1" />
    <param name="scmtch_limit_of_bad_attempts" value="20" />
    <param name="scmtch_limit_of_total_attempts" value="100" />

    <!-- Internal constants for ros-->
    <param name="ros_rviz_map_publishing_rate" value="5.0" />
    <param name="ros_tf_buffer_duration" value="5.0" /> <!-- in seconds-->
    <param name="ros_filter_queue_size" value="1000" />
    <param name="ros_subscribers_queue_size" value="1000" />

  </node>

  <node name="player" pkg="rosbag" type="play"
        args="--delay=3 --clock --rate $(arg rate) $(arg path)" />

  <node name="rviz" pkg="rviz" type="rviz" respawn="true"
        args="-d $(find tiny_slam)/rviz/debug.rviz" />

  <node name="MapTrasformPublisher" pkg="tf" type="static_transform_publisher"
        args="0 0 0 0 0 0 odom_combined map 250" cwd="node" required="true"/>

</launch>
